/* ========================================================================== */
/* LAYOUT LOGIN */
/* ========================================================================== */

$layout-name: "l-login";

.#{$layout-name}{
    display: flex;
    flex-direction: row;

    width: 100vw;
    height: 100vh;
}